body {
	background: linear-gradient(30deg, #bab1ae, #4d43bb, #59b5a4, #b18a21);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    color: navy;
    font-size: xx-large;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
}

h2 {
    color: navy;
    font-size: x-large;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
}

h3 {
    color: navy;
    font-size: large;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
}

h4 {
    color: navy;
    font-size: large;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
}

p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

li {
    font-family: "Helvetica Neue", sans-serif;
    font-size: medium;
    font-weight: bold;
}

a {
    font-family: "Helvetica Neue", sans-serif;
    font-size: small;
    font-weight: bold;
}

img {
  opacity: 0.75;
}

img:hover {
  opacity: 1.0;
}