body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

h1 {
    color: navy;
    font-size: xx-large;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
}

h2 {
    color: navy;
    font-size: x-large;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
}

h3 {
    color: navy;
    font-size: large;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
}

h4 {
    color: navy;
    font-size: large;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
}

p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

li {
    font-family: "Helvetica Neue", sans-serif;
    font-size: medium;
    font-weight: bold;
}

a {
    font-family: "Helvetica Neue", sans-serif;
    font-size: small;
    font-weight: bold;
}

img {
  opacity: 0.75;
}

img:hover {
  opacity: 1.0;
}